<div class="row">
  <div class="col dashboard-section">
    <h2 class="py-5">Envelope Dashboard</h2>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 pr-5" style="display: block">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
          </canvas>
        </div>
        <div class="col-12 col-lg-6 pl-5" style="display: block">
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
  </div>
</div>
