<h3 class="card-title">Basic information</h3>
<dl class="row mb-0 pt-3 text-left">
  <dt class="col-sm-3">Phasellus porttitor</dt>
  <dd class="col-sm-9">urna vitae massa varius volutpat</dd>

  <dt class="col-sm-3 text-truncate">Curabitur tincidunt purus vitae velit commodo, eu placerat sapien vulputate</dt>
  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
    sit amet risus
  </dd>

  <dt class="col-sm-3">Donec hendrerit tellus nec turpis ultricies hendrerit</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-3">Nam gravida</dt>
      <dd class="col-sm-9">Ut id risus nec quam imperdiet consectetur eget et sem</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Molestie aliquam</dt>
      <dd class="col-sm-9">Integer accumsan tellus vitae nisi ornare, id feugiat erat ullamcorper.</dd>
    </dl>
  </dd>
</dl>
