<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="./" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shipping" routerLinkActive="active">Shipping</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
